<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    #judul{
      margin-top: 20px;
    }
    h3{
      font-size: 20px;
      font-weight: bold;
      line-height: 7px;
      
    }
    #waktu{
      flex: 0 0 30%;
      text-align: left;
    }
    #tingkat{
      
      text-decoration: underline;
      margin-bottom: 20px;
    }
    .label-value {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 10px;
      font-size: 18px;
    }
    .label {
      flex: 0 0 30%;
      text-align: left;
    }
    .value-container {
      display: flex;
      justify-content: flex-start;
      flex: 1;
    }
    .separator {
      margin-left: auto;
      padding-right: 10px;
    }
    .value {
      flex: 1;
      right: 20px;
    }
  </style>
</head>
<body>
  <div>
    <h3 id="judul">DETASEMEN KESEHATAN WILAYAH 03.04.03</h3>
    <h3 id="tingkat">RUMAH SAKIT TINGKAT III 03.06.01 CIREMAI</h3>
    <p id="waktu">Cirebon, <%= new Date().toLocaleDateString('id-ID', { day: '2-digit', month: '2-digit', year: 'numeric' }) %></p>
    <div class="label-value">
      <span class="label">No. Resep</span>
      <div class="value-container">
        <span class="separator">:</span>
        <span class="value"><%= data.detail.no_reg %></span>
      </div>
    </div>
    <div class="label-value">
      <span class="label">Ruang/ Poli</span>
      <div class="value-container">
        <span class="separator">:</span>
        <span class="value"><%= data.detail.ruangan %></span>
      </div>
    </div>
    <div class="label-value">
      <span class="label">Dokter</span>
      <div class="value-container">
        <span class="separator">:</span>
        <span class="value"><%= data.detail.nama_dokter %></span>
      </div>
    </div>
    <div class="label-value">
      <span class="label">No. SIP</span>
      <div class="value-container">
        <span class="separator">:</span>
        <span class="value"><%= data.detail.no_sip %></span>
      </div>
    </div>
    <h4><b>R/</b></h4>
    <table class='table'>
      <tbody>
        <% if (obat.length > 0) { %>
          <% obat.forEach(val => { %>
            <tr>
              <td colspan='2' style='vertical-align:middle'><%= val.nama_obat %></td>
              <td>
                <%= val.aturan ? `Aturan Pakai ${val.aturan}` : "" %>&nbsp;<b><span style='font-size:20px' class='text-right'>&nbsp;&nbsp;<%= val.qty %><sup style='font-size:9px;'>&nbsp;<%= val.satuan %></sup></span></b>
                <% let caraPakai = ""; %>
                <% caraPakai += (val.pagi ? "Pagi" : ""); %>
                <% caraPakai += (val.siang ? " - Siang" : ""); %>
                <% caraPakai += (val.sore ? " - Sore" : ""); %>
                <% caraPakai += (val.malem ? " - Malam" : ""); %>
                <br><%= (caraPakai ? `Cara Pakai -> ${caraPakai}` : "") %>
              </td>
            </tr>
            <% racikan.forEach(row => { %>
              <% if (row.kode_obat === val.kode_obat) { %>
                <tr>
                  <td>&nbsp;&nbsp;</td>
                  <td><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= row.nama_obat %></li></td>
                  <td>Satuan Kecil&nbsp;&nbsp;<%= row.qty_listracikan %>&nbsp;&nbsp;<b><span class='text-right'>&nbsp;&nbsp;<%= row.qty %><sup>&nbsp;<%= row.satuan %></sup></span></b></td>
                </tr>
              <% } %>
            <% }) %>
          <% }) %>
        <% } else { %>
          <tr>
            <td>
              <div class="alert alert-warning">
                <h4><i class="icon fa fa-warning"></i>Alert</h4>
                Belum ada <b>Obat</b> yang diberi
              </div>
            </td>
          </tr>
        <% } %>
      </tbody>
    </table>
    <br>
    <p><b>Pro :</b></p>
    <div class="label-value">
      <span class="label">Nama Pasien</span>
      <div class="value-container">
        <span class="separator">:</span>
        <span class="value"><%= data.master.nama_pasien %></span>
      </div>
    </div>
    <div class="label-value">
      <span class="label">Umur</span>
      <div class="value-container">
        <span class="separator">:</span>
        <span class="value"><%= data.umur %></span>
      </div>
    </div>
    <div class="label-value">
      <span class="label">Diagnosa</span>
      <div class="value-container">
        <span class="separator">:</span>
        <span class="value"><%= data.diagnosa ? data.diagnosa.a : "Tidak ada diagnosa" %></span>
      </div>
    </div>
    <div class="label-value">
      <span class="label">No. RM</span>
      <div class="value-container">
        <span class="separator">:</span>
        <span class="value"><%= data.master.no_pasien %></span>
      </div>
    </div>
    <div class="label-value">
      <span class="label">Register</span>
      <div class="value-container">
        <span class="separator">:</span>
        <span class="value"><%= data.detail.no_reg %></span>
      </div>
    </div>
    <div class="label-value">
      <span class="label">Alamat</span>
      <div class="value-container">
        <span class="separator">:</span>
        <span class="value"><%= data.master.alamat %></span>
      </div>
    </div>
    <div class="label-value">
      <span class="label">No. Telp/ HP</span>
      <div class="value-container">
        <span class="separator">:</span>
        <span class="value"><%= data.master.telpon %></span>
      </div>
    </div>
    <div class="label-value">
      <span class="label">Catatan</span>
      <div class="value-container">
        <span class="separator">:</span>
        <span class="value"><%= data.diagnosa ? data.diagnosa.p : "Tidak ada catatan" %></span>
      </div>
    </div>
  </div>
</body>
</html>