<%- include('../componen/header') %>
<style>
  .section {
    border: 2px outset #ccc;
    border-radius: 20px;
    margin-bottom: 10px;
    cursor: pointer;
    position: relative;
  }

  .section-title {
    background-color: #f0f0f0;
    border-radius: 20px;
    padding: 10px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .toggle-icon {
    margin-left: 10px;
  }

  .section-content {
    padding: 10px;
    display: none;
  }

  .loading-spinner {
    display: none;
    text-align: center;
    padding: 10px;
  }

  .loading-spinner img {
    width: 50px;
    height: 50px;
  }
</style>
<%- include('../componen/sideNav') %>

<div id="loading-overlay" class="loading-overlay">
  <div class="spinner"></div>
</div>

<div class="content-wrapper">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header bg-dark">
          <h2 class="card-title">List pasien</h2>
          <div class="card-tools">
            <div class="input-group input-group-sm" style="width: 150px;">
              <input id="table-search" type="text" name="table_search" class="form-control float-right" placeholder="Search">
              <div class="input-group-append">
                <button id="search-button" type="submit" class="btn btn-default">
                  <i class="fas fa-search"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body table-responsive p-0" style="height: 450px;">
          <table class="table table-head-fixed text-nowrap table-striped">
            <thead>
              <tr>
                <th>No. Reg</th>
                <th>No. Pasien</th>
                <th>Tanggal</th>
                <th>No. SJP</th>
                <th>Nama Pasien</th>
                <th>Gol Pasien</th>
              </tr>
            </thead>
            <tbody class="list">
              <% patients.forEach(patient => { %>
                <tr data-no-rm="<%= patient.no_pasien %>" data-no-reg="<%= patient.no_reg %>">
                  <td><%= patient.no_reg %></td>
                  <td><%= patient.no_pasien %></td>
                  <td><%= new Date(patient.tanggal).toISOString().split('T')[0] %></td>
                  <td><%= patient.no_sjp %></td>
                  <td><%= patient.nama_pasien %></td>
                  <td><%= patient.gol_pasien %></td>
                </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-3 col-sm-4 col-9">
    <div class="d-flex align-items-start">
      <div class="info-box bg-info flex-grow-1">
        <span class="info-box-icon bg-info"><i class="fas fa-users"></i></span>
        <div class="info-box-content">
          <span class="info-box-text">total pasien</span>
          <span class="info-box-number"><h4><%= patientcounts %></h4></span>
        </div>
      </div>
      <div class="ml-2 d-flex justify-content-between">
        <button class="btn btn-success ml-auto" id="call-button">Panggil</button>
      </div>
      <div class="ml-2 d-flex justify-content-between">
        <button class="btn btn-danger ml-auto verify-button">Verifikasi</button>
      </div>
    </div>
  </div>

  <div class="modal fade" id="verifyModal" tabindex="-1" role="dialog" aria-labelledby="verifyModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="verifyModalLabel">Verifikasi Data Pasien</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row">
              <div class="col-6">
                <p><strong>No. Reg:</strong> <span id="modalNoReg"></span></p>
              </div>
              <div class="col-6">
                <p><strong>No. Pasien:</strong> <span id="modalNoPasien"></span></p>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <p><strong>Tanggal:</strong> <span id="modalTanggal"></span></p>
              </div>
              <div class="col-6">
                <p><strong>No. SJP:</strong> <span id="modalNoSjp"></span></p>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <p><strong>Nama Pasien:</strong> <span id="modalNamaPasien"></span></p>
              </div>
              <div class="col-6">
                <p><strong>Gol Pasien:</strong> <span id="modalGolPasien"></span></p>
              </div>
            </div>
          </div>
          <div class="section">
            <div class="section-title">
              <h5>1. RESUME</h5>
              <span class="toggle-icon" id="resume-button" onclick="toggleSection(this)">+</span>
            </div>
            <div class="section-content" id="resumeDetails">
              <div class="loading-spinner" id="resumeLoadingSpinner">
                <img src="loading.gif" alt="Loading">
              </div>
              <div id="resumeDataBody"></div>
            </div>
          </div>
          <div class="section">
            <div class="section-title">
              <h5>2. E-RESEP</h5>
              <span class="toggle-icon" id="eResep-button" onclick="toggleSection(this)">+</span>
            </div>
            <div class="section-content" id="eResepDetail">
              <div class="loading-spinner" id="eResepLoadingSpinner">
                <img src="loading.gif" alt="Loading">
              </div>
              <div id="eResepDataBody"></div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Load JavaScript -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    $(document).ready(function() {
     
  
      // Fungsi Pencarian
      $('#search-button').on('click', function(event) {
        event.preventDefault();
      });
  
      let selectedData = null;
      const rows = document.querySelectorAll('.list tr');
      rows.forEach(row => {
        row.addEventListener('click', function() {
          selectedData = {
            noReg: this.children[0].textContent,
            noPasien: this.children[1].textContent,
            tanggal: this.children[2].textContent,
            noSjp: this.children[3].textContent,
            namaPasien: this.children[4].textContent,
            golPasien: this.children[5].textContent,
          };
          rows.forEach(r => r.classList.remove('selected'));
          this.classList.add('selected');
        });
      });
  
      // Fungsi Tombol Verifikasi
      $('.verify-button').on('click', function() {
        if (selectedData) {
          document.getElementById('modalNoReg').textContent = selectedData.noReg;
          document.getElementById('modalNoPasien').textContent = selectedData.noPasien;
          document.getElementById('modalTanggal').textContent = selectedData.tanggal;
          document.getElementById('modalNoSjp').textContent = selectedData.noSjp;
          document.getElementById('modalNamaPasien').textContent = selectedData.namaPasien;
          document.getElementById('modalGolPasien').textContent = selectedData.golPasien;
  
          $('#verifyModal').modal('show');
        } else {
          alert('Please select a patient row to verify.');
        }
      });
  
      // Memuat data resume ketika bagian toggle diklik
      $('#resume-button').on('click', function() {
        if (selectedData) {
          const no_rm = selectedData.noPasien;
          $('#resumeLoadingSpinner').show();
          $('#resumeDataBody').hide(); // Hide the current data
  
          function fetchResumeData(no_rm, page = 1) {
            $('#resumeLoadingSpinner').show(); // Show loading spinner
            $('#resumeDataBody').hide(); // Hide the resume data body
  
            $.ajax({
              url: `pasien/resume/${no_rm}?page=${page}`,
              method: 'GET',
              data: { no_rm: no_rm },
              success: function(response) {
                $('#resumeDataBody').html(response);
                $('#resumeLoadingSpinner').hide();
                $('#resumeDataBody').show(); // Show the new data
  
                $('#resumeDataBody .pagination a').on('click', function(e) {
                  e.preventDefault();
                  const newPage = $(this).attr('href').split('page=')[1]; // Ambil nomor halaman dari href
                  fetchResumeData(no_rm, newPage);
                });
              },
              error: function() {
                alert('Gagal mengambil data resume');
                $('#resumeLoadingSpinner').hide();
              }
            });
          }
  
          fetchResumeData(no_rm);
        } else {
          alert('Please select a patient row to load resume data.');
        }
      });
  // data eResep
      $('#eResep-button').on('click', function() {
        if (selectedData) {
          const no_rm = selectedData.noPasien;
          const no_reg = selectedData.noReg;
          $('#eResepLoadingSpinner').show();
          $('#eResepDataBody').hide(); // Hide the current data
            $.ajax({
              url: `pasien/e-Resep/${no_rm}/${no_reg}`,
              method: 'GET',
              data: { no_rm: no_rm, no_reg: no_reg },
              success: function(response) {
                $('#eResepDataBody').html(response);
                $('#eResepLoadingSpinner').hide();
                $('#eResepDataBody').show(); // Show the new data
              },
              error: function() {
                alert('Gagal mengambil data ralan');
                $('#eResepLoadingSpinner').hide();
              }
            });
          }
  
          
        
      });
  
      // Event handler untuk refresh data resume dan mengembalikan bagian resume ke keadaan tertutup ketika modal ditutup
      $('#verifyModal').on('hidden.bs.modal', function() {
        $('#resumeDataBody').html('');
        $('#resumeDetails').hide();
        $('#eResepDataBody').html('');
        $('#eResepDetail').hide();
        $('.toggle-icon').text('+');
      });
  
      // Socket.IO untuk memanggil pasien
      const socket = io();
      $('#call-button').on('click', function() {
        
        if (selectedData) {
          socket.emit('callPatient', selectedData);
        } else {
          alert("Harap pilih seorang pasien");
        }
      });
  
      socket.on('patientCalled', function(data) {
        $('body').append(`
          <div class="popup">
            <div class="popup-content">
              <span class="close">&times;</span>
              <div class="header-popup">
              <h2>Panggilan untuk pasien</h2>
              </div>
              <div class="body-popup">
              <h3>${data.namaPasien}</h3>
              <h3>No. Pasien: ${data.noPasien}</h3>
              </div>
              
            </div>
          </div>
        `);
        $('.popup-content .close').on('click', function() {
          $(this).closest('.popup').remove();
        });
      });
  
      // Fungsi Toggle Bagian di Modal
      $('.toggle-icon').on('click', function() {
        const content = $(this).closest('.section').find('.section-content');
        const icon = $(this).closest('.section').find('.toggle-icon');
        content.toggle();
        icon.text(content.is(':visible') ? '-' : '+');
      });
  
      // Pilih baris untuk ditandai
      $('.list tr').on('click', function() {
        $('.list tr').removeClass('selected');
        $(this).addClass('selected');
      });
    });
  </script>
  
  
  
</div>

<%- include('../componen/footer') %>
